@model MindClinic.Models.Schedule
 @using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;
 
@{
    if (signInManager.IsSignedIn(User) && User.IsInRole("DOCTOR"))
    {
       Layout = "_LayoutDoctotDashboard";
    }
 
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
