@model IEnumerable<MindClinic.Models.Schedule>
 
 @using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager;
 
@{
    if (signInManager.IsSignedIn(User) && User.IsInRole("DOCTOR"))
    {
       Layout = "_LayoutDoctotDashboard";
    }
    ViewData["Title"] = "Index";
   
 }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endtime)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endtime)
            </td>
          
            <td>
         
               
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
