@model IEnumerable<MindClinic.Models.DoctorClass>
@{
    ViewData["Title"] = "Home Page";
    var X = ViewBag.Doctor;
}

<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Search Doctor, Make an Appointment</h1>
                <p>Discover the best doctors</p>
            </div>


            <!-- Search -->

            <form>
                <div style="padding-top:20px" class="input-group mb-3">
                    <input type="text" name="search" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search for doctor's name, email ..">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" asp-controller="Home" asp-action="SearchForDoctors" type="submit" id="submit" value="Submit"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>


   @*         @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {

                <input id="txtDoctor" name="search" type="text" class="form-control" placeholder="Search Doctors">
                <input id="hfDoctor" name="DoctorId" type="hidden" class="form-control" placeholder="Search Doctors">
                <div id="hello"></div>
               <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
                <input asp-action="SearchForDoctors" type="submit" id="submit" value="Submit" />
                <br />

                <br />


            }

            <script type="text/javascript">
                $(function () {
                    $("#txtDoctor").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: '/Home/AutoComplete/',
                                data: { "prefix": request.term },
                                type: "POST",
                                success: function (data) {
                                    response($.map(data,
                                        function (item) {

                                            return item;
                                        }))
                                },
                                error: function (response) {
                                    alert(response.responseText)
                                },
                                failure: function (response) {
                                    alert(response.responseText)
                                }
                            });
                        },
                        select: function (e, i) {
                            $("#hfDoctor").val(i.item.val);

                        },
                        minLength: 1
                    });
                });

            </script>
*@
        </div>
    </div>
</section>
<!-- /Home Banner -->
<!-- Clinic and Specialities -->
<section class="section section-specialities">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2>Clinic and Specialities</h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <!-- Slider -->
                <div class="specialities-slider slider">
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="~/assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>
                        <p>Neurology</p>
                    </div>


                </div>
                <!-- /Slider -->

            </div>
        </div>
    </div>
</section>
<!-- Clinic and Specialities -->
<!-- Popular Section -->
<section class="section section-doctor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header ">
                    <h2>Featured Doctors</h2>
                    <p>Check out some of our best-rated doctors.</p>
                </div>
                <div class="about-content">
                    <p>Shown here are some of our best-rated experienced therapists who can help you with a range of issues, including depression, anxiety, relationships, trauma, grief, and more.</p>
                    <p>Our therapists offer therapy services via third-party calls, live chats, and email messaging. We help you to to find and schedule an appointment with someone that’s right for you and your needs.</p>
                    <a asp-action="SearchForDoctors" asp-controller="Home">All Doctors</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="doctor-slider slider">
                    @foreach (var item in Model)
                    {
                        if (item.AvgRating >= 4)
                        {
                            <!-- Doctor Widget -->
                            <div class="profile-widget">
                                <div class="doc-img ">

                                    <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.User.Id">
                                        <img width="300" height="200" alt="User Image" src="~/Doctorsimage/@(item.User.image?? "Default.jpg")">
                                    </a>

                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.User.Id">@item.User.Name</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">Therapist</p>
                                    <ul class="available-info">
                                        <li>
                                            <div class="rating">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < @item.AvgRating)
                                                    {
                                                        <i class="fas fa-star filled"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                }

                                                <span class="d-inline-block average-rating">(@item.RatingsCount)</span>
                                            </div></li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i> @item.User.Gender
                                        </li>
                                        <li>
                                            <i class="far fa-clock"></i> @item.User.Age
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> $@item.pricePerSession
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                        </li>

                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">

                                            <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.User.Id" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a asp-action="getslots" asp-controller="Appointments" asp-route-id="@item.User.Id" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Doctor Widget -->
                        }
                    }




                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Popular Section -->


<section class="page-section" id="Faqs">
<div class="container-fluid">
<div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
<div class="col-md-12 text-center">
<h1 class="font-weight-bold">Frequently Asked Questions</h1>
</div>
</div>
<br>

<div style="visibility: visible; animation-name: fadeInUp;">
<div id="Faq">
<div class="card mb-0">

<div class="card-header w-100 collapsed" data-toggle="collapse" href="#collapseOne">
<a class="card-title text-primary">
Can I cancel an appointment I have already booked and paid for?
</a>
</div>

<div id="collapseOne" class="card-body collapse" data-parent="#Faq">
<p>Yes, you can also receive a full refund if you cancel within two days of the appointment, otherwise, you get a refund of half of the amount you paid.
</p>
</div>

<div class="card-header w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseTwo">
<a class="card-title text-primary">
Can other users see my information?
</a>
</div>

<div id="collapseTwo" class="card-body collapse" data-parent="#Faq">
<p>No, your name and information will only be shared with doctors whom you have booked an appointment with.
</p>
</div>

<div class="card-header  w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseThree">
<a class="card-title text-primary">
How do I access the live video call with the therapist?
</a>
</div>
<div id="collapseThree" class="collapse" data-parent="#accordion">
<div class="card-body">
<p>You can access the meeting link that your doctor has provided in the "My Appointments" tab next to the meeting information.</p>
<p>(Note: you can only access the meeting link 10 minutes before the appointment starts.)</p>
</div>
</div>
<div class="card-header  w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseFour">
<a class="card-title text-primary">
How can I communicate with my therapist?
</a>
</div>
<div id="collapseFour" class="collapse" data-parent="#accordion">
<div class="card-body">
<p>You can message them directly through our website or call the phone number listed on their profile page.</p>
</div>
</div>
<div class="card-header  w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseFive">
<a class="card-title text-primary">
How can I file an inquiry, complaint, report, or suggestion?
</a>
</div>
<div id="collapseFive" class="collapse" data-parent="#accordion">
<div class="card-body">
<p>You can email or call us using the provided contact information on the "Contact" page.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>









<!-- Availabe Features -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 features-img">
                <img src="~/assets/img/features/feature.png" class="img-fluid" alt="Feature">
            </div>
            <div class="col-md-7">
                <div class="section-header">
                    <h2 class="mt-2">Availabe Features in Our Clinic</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
                <div class="features-slider slider">
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/assets/img/features/feature-01.jpg" class="img-fluid" alt="Feature">
                        <p>Patient Ward</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/assets/img/features/feature-02.jpg" class="img-fluid" alt="Feature">
                        <p>Test Room</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/assets/img/features/feature-03.jpg" class="img-fluid" alt="Feature">
                        <p>ICU</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/assets/img/features/feature-04.jpg" class="img-fluid" alt="Feature">
                        <p>Laboratory</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/assets/img/features/feature-05.jpg" class="img-fluid" alt="Feature">
                        <p>Operation</p>
                    </div>
                    <!-- /Slider Item -->
                    <!-- Slider Item -->
                    <div class="feature-item text-center">
                        <img src="~/assets/img/features/feature-06.jpg" class="img-fluid" alt="Feature">
                        <p>Medical</p>
                    </div>
                    <!-- /Slider Item -->
                </div>
            </div>
        </div>
    </div>
</section>

