@model IEnumerable<MindClinic.Models.DoctorClass>
@{
    ViewData["Title"] = "Home Page";
    var X = ViewBag.Doctor;
}

<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Search Doctor, Make an Appointment</h1>
                <h2>Discover the best doctors</h2>
            </div>


            <!-- Search -->

            <form>
                <div style="padding-top:10px" class="input-group mb-3">
                    <input type="text" name="search" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search for doctor's name, email ..">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" asp-controller="Home" asp-action="SearchForDoctors" type="submit" id="submit" value="Submit"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>



        </div>
    </div>
</section>

<section class="section section-doctor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header ">
                    <h2>Featured Doctors</h2>
                    <p>Check out some of our best-rated doctors.</p>
                </div>
                <div class="about-content">
                    <p>Shown here are some of our best-rated experienced therapists who can help you with a range of issues, including depression, anxiety, relationships, trauma, grief, and more.</p>
                    <p>Our therapists offer therapy services via third-party calls, live chats, and email messaging. We help you to to find and schedule an appointment with someone that’s right for you and your needs.</p>
                    <a asp-action="SearchForDoctors" asp-controller="Home">All Doctors</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="doctor-slider slider">
                    @foreach (var item in Model)
                    {
                        if (item.AvgRating >= 4)
                        {
                            <!-- Doctor Widget -->
                            <div class="profile-widget">
                                <div class="doc-img ">

                                    <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.User.Id">
                                        <img width="300" height="200" alt="User Image" src="~/Doctorsimage/@(item.User.image?? "Default.jpg")">
                                    </a>

                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.User.Id">@item.User.Name</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">Therapist</p>
                                    <ul class="available-info">
                                        <li>
                                            <div class="rating">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < @item.AvgRating)
                                                    {
                                                        <i class="fas fa-star filled"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                }

                                                <span class="d-inline-block average-rating">(@item.RatingsCount)</span>
                                            </div>
                                        </li>
                                        <li>
                                            @if (item.User.Gender == "Female")
                                            {
                                                <i class="fa fa-venus"></i>
                                            }
                                            else{<i class="fa fa-mars"></i> }
                                           @item.User.Gender
                                        </li>
                                        <li>
                                            <i class="far fa-clock"></i> @item.User.Age
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> $@item.pricePerSession
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                        </li>

                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">

                                            <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.User.Id" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a asp-action="getslots" asp-controller="Appointments" asp-route-id="@item.User.Id" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Popular Section -->
<section class="page-section" id="Faqs">
    <div class="container-fluid">
        <div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-md-12 text-center">
                <h1 class="font-weight-bold">Frequently Asked Questions</h1>
            </div>
        </div>
        <br>

        <div style="visibility: visible; animation-name: fadeInUp;">
            <div id="Faq">
                <div class="card mb-0">

                    <div class="card-header w-100 collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title text-primary">
                            <strong style="color:#0de0fe;">Can I cancel an appointment I have already booked and paid for?</strong>

                        </a>
                    </div>

                    <div id="collapseOne" class="card-body collapse" data-parent="#Faq">
                        <p>
                            Yes, you can also receive a full refund if you cancel within two days of the appointment, otherwise, you get a refund of half of the amount you paid.
                        </p>
                    </div>

                    <div class="card-header w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseTwo">
                        <a class="card-title">
                            <strong style="color:#0de0fe;">Can other users see my information?</strong>

                        </a>
                    </div>

                    <div id="collapseTwo" class="card-body collapse" data-parent="#Faq">
                        <p class="">
                            No, your name and information will only be shared with doctors whom you have booked an appointment with.
                        </p>
                    </div>

                    <div class="card-header  w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseThree">
                        <a class="card-title text-primary">
                            <strong style="color:#0de0fe;">How do I access the live video call with the therapist? </strong>
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>You can access the meeting link that your doctor has provided in the "My Appointments" tab next to the meeting information.</p>
                            <p>(Note: you can only access the meeting link 10 minutes before the appointment starts.)</p>
                        </div>
                    </div>
                    <div class="card-header  w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseFour">
                        <a class="card-title text-primary">
                            <strong style="color:#0de0fe;">How can I communicate with my therapist?</strong>
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>You can message them directly through our website or call the phone number listed on their profile page.</p>
                        </div>
                    </div>
                    <div class="card-header  w-100 collapsed" data-toggle="collapse" data-parent="#Faq" href="#collapseFive">
                        <a class="card-title text-primary">
                            <strong style="color:#0de0fe;">How can I file an inquiry, complaint, report, or suggestion?</strong>
                        </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>You can email or call us using the provided contact information on the "Contact" page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<!-- Availabe Features -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 features-img">
                <img src="~/assets/img/mindlogo.png" class="img-fluid" width="400" height="400" alt="Feature">
            </div>
            <div class="col-md-7">
                <div class="section-header">
                    <h2 class="mt-2">We Aim to Help You To</h2>
                    <p>Our therapists can help you with many mental health issues</p>
                </div>
                <div class="features-slider slider">

                    <div class="feature-item text-center">
                        <img src="~/assets/img/helpicon2.png" class="img-fluid" alt="Feature">
                        <p>Depression</p>
                    </div>
                    <div class="feature-item text-center">
                        <img src="~/assets/img/logostress.png" class="img-fluid" alt="Feature">
                        <p>Stress</p>
                    </div>
                    <div class="feature-item text-center">
                        <img src="~/assets/img/logoanx.png" class="img-fluid" alt="Feature">
                        <p>Anxiety</p>
                    </div>
                    <div class="feature-item text-center">
                        <img src="~/assets/img/logoanger.png" class="img-fluid" alt="Feature">
                        <p>Anger</p>
                    </div>
                    <div class="feature-item text-center">
                        <img src="~/assets/img/logosocial.png" class="img-fluid" alt="Feature">
                        <p>Social Anxiety</p>
                    </div>
                    <div class="feature-item text-center">
                        <img src="~/assets/img/logoself.png" class="img-fluid" alt="Feature">
                        <p>Self-Esteem</p>
                    </div>
                    <!-- /Slider Item -->
                </div>
            </div>
        </div>
    </div>
</section>

