@using Microsoft.AspNetCore.Identity
@model IEnumerable<MindClinic.Models.Appointment>
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "PatientAppointments";
    DateTime now = DateTime.Now;
}


<div class="card-body">

    <form method="get" class="row text-center">
        <div class="col-3"></div>
        <div class="col-4">
            <select class="form-control" id="orderby" name="orderby">
                <option value="@ViewData["orderBy"]" hidden selected> @ViewData["orderBy"]</option>
                <option value="All">All</option>
                <option value="On going">On going</option>
                <option value="Ended">Ended</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Unpaid">Unpaid</option>

            </select>
        </div>

        <button class="btn btn-outline-primary col-2" asp-action="PatientAppointments" asp-controller="Home">Filter</button>&nbsp;&nbsp;




    </form>


</div>
<div class="tab-pane show active" id="upcoming-appointments">
    <div class="card card-table mb-0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>Doctor Name</th>
                            <th>Appt Date</th>
                            <th>Purpose</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th class="text-center">Paid Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.doctorId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" alt="User Image" src="~/Doctorsimage/@(item.doctor.image?? "Default.jpg")"></a>
                                        <a asp-action="DoctorViewProfile" asp-controller="DoctorClasses" asp-route-id="@item.doctorId">@item.doctor.Name<span>Therapy Session</span></a>
                                    </h2>
                                </td>
                                <td>@item.Time.ToString("MM/dd/yyyy") <span class="d-block text-info">@item.Time.ToString("HH:mm")</span></td>
                                <td>Therapy</td>
                                <td>
                                    @{
                                        if (item.status.ToString().Equals("True") && item.Time.CompareTo(now) > 0)
                                        {
                                            <span class="badge badge-pill bg-success-light">Ongoing</span>
                                        }
                                        else if (item.status.ToString().Equals("True") && item.Time.CompareTo(now) < 0)
                                        {
                                            <span class="badge badge-pill bg-warning-light">Ended</span>
                                        }
                                        else if (item.status.ToString().Equals("Unpaid") && item.Time.CompareTo(now) > 0)
                                        {
                                            <span class="badge badge-pill bg-primary-light">Unpaid</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill bg-danger-light">Cancelled</span>
                                        }
                                    }
                                </td>
                                <td>@item.Description</td>
                                <td class="text-center">@if(item.status.ToString().Equals("Unpaid")){<h1 class="text-sm text-info">-Unpaid- </h1>}$@item.Price</td>
                                <td class="text-right">
                                    <div class="table-action">
                                        @if ((item.status.ToString().Equals("Unpaid") || item.status.ToString().Equals("True")) && item.Time.CompareTo(now) > 0)
                                        {
                                            <a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#Cancel_Appointment">
                                                <i class="fas fa-times"></i> Cancel

                                            </a>

                                            <div class="modal fade" id="Cancel_Appointment" aria-hidden="true" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Cancel Appointment</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row form-row">
                                                                <div class="col-12 col-sm-6">
                                                                    <h5 class="card-title text-center">Are you sure you want to cancel this appointment?</h5>
                                                                    @{
                                                                        if (!item.status.Equals("Unpaid") && item.Time.DayOfYear - now.DayOfYear < 2 && (item.Time.Year == now.Year))
                                                                        {
                                                                            <p class="text-warning">Less than 48 hours remaining.</p>
                                                                            <p class="text-warning">Please note that you will be refunded half of the payed rate.</p>
                                                                        }

                                                                        else if(!item.status.Equals("Unpaid"))
                                                                        {
                                                                            <p class="text-primary">More than 48 hours remaining.</p>
                                                                            <p class="text-primary">Please note that you will be refunded the full payed rate.</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="text-info">This appointment is unpaid and will only be unscheduled.</p>
                                                                        }
                                                                    }

                                                                </div>
                                                            </div>

                                                            <form>
                                                                <div class="row form-row">
                                                                   
                                                                        <div class="form-group row">
                                                                            <div class="col-5"><label>Reason for Cancellation</label></div>
                                                                            <div class="col-7"> <input name="description" type="text" class="form-control"></div>
                                                                            
                                                                       
                                                                        </div>
                                                                 

                                                                </div>
                                                                <button type="submit" class="btn btn btn-danger btn-block" asp-controller="Appointments" asp-action="Cancel" asp-route-id="@item.id" method="post">Cancel Appointment</button>
                                                            </form>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        }

                                        @if (item.status.ToString().Equals("Unpaid") && item.Time.CompareTo(now) > 0)
                                        {
                                            <a class="btn btn-sm bg-primary-light" data-toggle="modal" href="#InsertCard">
                                                <i class="fa fa-dollar-sign"></i>  Pay
                                            </a>
                                            
                                            <div class="modal fade" id="InsertCard" aria-hidden="true" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Pay for Appointment</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row form-row">
                                                                <div class="col-12 col-sm-6">
                                                                    <h5 class="card-title text-left">Please enter your credit card information.</h5>
                                                                     <p class="text-info">Appointment rate of $@item.Price will be deducted from card.</p>

                                                                </div>

                                
                                <div class="payment-widget">
                                <!-- Credit Card Payment -->
                                <form>
                                <div class="payment-list">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_name">Name on Card</label>
                                                <input required="" name="Name" id="Name" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_number">Card Number</label>
                                                <input required="" class="form-control" id="CardNum" name="CardNum" placeholder="1234  5678  9876  5432" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_month">Expiry Month</label>
                                                <input required="" class="form-control" id="ExpMon" name="ExpMon" placeholder="MM" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_year">Expiry Year</label>
                                                <input required="" class="form-control" id="ExpYear" name="ExpYear" placeholder="YY" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="cvv">CVV</label>
                                                <input required="" class="form-control" id="CVV" name="CVV" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<input type="submit" name="submit" class="btn btn-info btn-md" value="Procced Pay">*@
                                <button type="submit" name="submit" class="btn btn btn-info btn-block" asp-controller="Appointments" asp-action="Pay" asp-route-id="@item.id" method="post">Pay and Confirm</button>
                            </form>
                            </div>
                            
                                                            </div>
                                                            

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        }

                                       @if (item.status.ToString().Equals("True") && item.Time.CompareTo(now) > 0)
                                        {
                                            <a class="btn btn-sm bg-info-light" data-toggle="modal" href="#Meeting_Link">
                                                <i class="fa fa-video-camera"></i>  Join Meeting

                                            </a>

                                            <div class="modal fade" id="Meeting_Link" aria-hidden="true" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Meeting Link</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row form-row">
                                                                <div class="col-12 col-sm-6">
                                                                    <h5 class="card-title text-left">Appointment link</h5>
                                                                    @{
                                                                        if (item.Time > now.AddMinutes(10))
                                                                        {
                                                                           
                                                                            <p class="text-warning">You can only access link 10 minutes before meeting start.</p>
                                                                            <p class="text-info">Make sure to have your mic and camera ready before joining.</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="text-primary">Less than 10 minutes remaining.</p>
                                                                            <p class="text-info">Make sure to have your mic and camera ready before joining.</p>
                                                                        }
                                                                    }

                                                                </div>
                                                            </div>
                                                               @{
                                                                        if (item.Time > now.AddMinutes(10))
                                                                        {
                                                                        <a class="btn btn-light btn-block">Join Appointment</a> }
                                                                        else
                                                                        {
                                                                        <a href="@item.MeetingLink" class="btn btn btn-info btn-block">Join Appointment</a>
                                                                        }
                                                                        }
                                                            


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
