@model PaginatedList<MindClinic.Models.User>
@{
    ViewData["Title"] = "SearchForSecretary";
}
<div class="row">
    <div class="card-body text-center">

<form method="get" class="row">

            <div class="col-5">
                <input class="form-control" name="search" id="search" value="@ViewData["search"]"placeholder="Search for Secretay's name, email.." />
            </div>
            <div class="col-4">
                <select class="form-control" id="orderby" name="orderby">
                    <option value="@ViewData["orderBy"]" hidden selected> @ViewData["orderBy"]</option>
                    <option value="Name">Name</option>
                    <option value="Age">Age</option>
                    <option value="Male Secretary">Male Secretary</option>
                    <option value="Female Secretary">Female Secretary</option>
             
                     
                </select>
            </div>
                
       
           
                <button class="btn btn-outline-primary col-2" asp-route-pageNumber="@Model.PageIndex" asp-action="SearchForSecretary" asp-controller="Home">Filter</button>&nbsp;&nbsp;
          
              <a class="btn btn-outline-info" style="padding:10px;" asp-action="SearchForSecretary">Reset</a>


        </form>
         
          
    </div>

    <div class="col-10">
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Doctor Widget -->

                <div class="profile-widget col-3" width="400" height="450">
                    <div class="doc-img ">

                        <a>
                            <img width="300" height="200" alt="User Image" src="~/Doctorsimage/@(item.image?? "Default.jpg")">
                        </a>

                    </div>
                    <div class="pro-content">
                        <h3 class="title">
                            <a >@item.Name</a>
                            <i class="fas fa-check-circle verified"></i>
                        </h3>
                        
                        <ul class="available-info">
                            <li>
                                <i class="fas fa-map-marker-alt"></i> @item.Gender
                            </li>
                            <li>
                                <i class="far fa-clock"></i> @item.Age
                            </li>
                        </ul>
                        <form method="post" role="form">
                        <div class="row row-sm">
                        
                                <input  type="text" class="form-control" name="Msg" id="Msg" placeholder="Write a Meesage to a secretary">
                                <input type="number" class="form-control" name="salary" id="salary" placeholder="Salary" >
                            
                                <div class="text-center"style="padding-left:75px; padding-top:10px">
                                  <button style="width:100px;" type="submit" asp-action="WorkWithMe" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-primary">Hire</button>
                             </div>  
                        </div>
                     
                        </form>
                    </div>

                </div>
                
            }
        </div>
    </div>
</div>
 @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }


</div>
<div class="text-cinter">
    <a asp-action="SearchForDoctors"
       asp-route-orderby="@ViewData["orderBy"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="SearchForDoctors"
       asp-route-orderby="@ViewData["orderBy"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-search="@ViewData["search"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>