@model IEnumerable<MindClinic.Models.SecretaryRequests>
@{
    ViewData["Title"] = "SecretaryRequests";
}

<div class="main-wrapper">

    <!-- Header -->
    <!-- /Sidebar -->
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <!-- Recent Orders -->
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="datatable table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Request From</th>
                                                <th>Salary</th>
                                                <th>Message</th>
                                                

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>

                                                <td>@item.Doctor.Name</td>
                                                <td>@item.Salary</td>
                                                <td>@item.Message</td>


                                                <td><a asp-controller="Home"  asp-action="AcceptRequest" asp-route-status="Yes" asp-route-id="@item.DoctorId" asp-route-ReqId="@item.Id" asp-route-salary="@item.Salary"  >Accept</a> </td>
                                                <td><a asp-controller="Home" asp-action="AcceptRequest" asp-route-status="No" asp-route-id="@item.DoctorId" asp-route-ReqId="@item.Id" asp-route-salary="@item.Salary">Decline</a> </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Recent Orders -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

</div>


