@model IEnumerable<MindClinic.Models.Education>

@{
    ViewData["Title"] = "DoctorEducation";
    Layout = null;
}
</br>
<div><h4 class="card-title">Education</h4></div>
<div class="card">
    <div class="card-body">
        @foreach (var item in Model)
        {
            <form asp-action="DoctorEducation" method="post">
           

                <div class="education-info">
                    <div class="row form-row education-cont">
                        <div class="col-12 col-md-10 col-lg-11">
                            <div class="row form-row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="@item.Degree" class="control-label"></label>
                                        <input asp-for="@item.Degree" name="Degree" id="Degree" class="form-control" />
                                        <span asp-validation-for="@item.Degree" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="@item.College" class="control-label"></label>
                                        <input asp-for="@item.College" name="College" id="College" class="form-control" />
                                        <span asp-validation-for="@item.College" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="@item.yearOfCompletion" class="control-label"></label>
                                        <input asp-for="@item.yearOfCompletion" name="yearOfCompletion" id="yearOfCompletion" class="form-control" />
                                        <span asp-validation-for="@item.yearOfCompletion" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div hidden class="form-group">
                                <label asp-for="@item.id" class="control-label"></label>
                                <input asp-for="@item.id" name="id" id="id" class="form-control" />
                                <span asp-validation-for="@item.id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @if (Model.Count() > 1)
                                {<input type="submit" value="Delete" asp-route-delete="true" class="btn btn-danger" />}
                            </div>
                           

                        </div>
                    </div>
                </div>

            </form>}
       

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
