@model IEnumerable<MindClinic.Models.Awards>

@{
    // ViewData["Title"] = "DoctorEducation";
    Layout = null;
}


<h4 class="card-title">Awards</h4>
<div class="card">
    <div class="card-body">

        @foreach (var item in Model)
        {
            <form asp-action="DoctorAwards" method="post">

                <div class="education-info">
                    <div class="row form-row education-cont">
                        <div class="col-12 col-md-10 col-lg-11">
                            <div class="row form-row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="@item.award" class="control-label"></label>
                                        <input asp-for="@item.award" name="award" id="award" class="form-control" />
                                        <span asp-validation-for="@item.award" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="@item.Year" class="control-label"></label>
                                        <input asp-for="@item.Year" name="year" id="year" class="form-control" />
                                        <span asp-validation-for="@item.Year" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div hidden class="form-group">
                                <label asp-for="@item.id" class="control-label"></label>
                                <input asp-for="@item.id" name="id" id="id" class="form-control" />
                                <span asp-validation-for="@item.id" class="text-danger"></span>
                          
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @if (Model.Count() > 1)
                                {<input type="submit" value="Delete" asp-route-delete="true" class="btn btn-danger" />}
                            </div>
                        </div>
                    </div>
                </div>


            </form>}
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
