@page
@using MindClinic.Models
@model RegisterModel
@inject SignInManager<User> signInManager;
@{
    ViewData["Title"] = "Register";
}

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Doccure - Login</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="~/assets/css/style.css">

    </head>

  <body>
      <br>
    			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">

                            <p style="text-align:center;"><img src="~/assets/img/logoMC.png" class="img-fluid" alt="Doccure Register" width="300" height="300"></p>

							<!-- Register Content -->									
										<!-- Register Form -->
										<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
            </div>
        
            @if (!signInManager.IsSignedIn(User))
            {
                <div hidden="" class="form-group">
                 <label asp-for="Input.role"></label>
                 <input value="PATIENT" asp-for="Input.role" class="form-control"/>
             </div>
            }
            
            @if (signInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
            {
                <div class="form-group">
                    <label for="DOCTOR">DOCTOR</label>
                    <input asp-for="Input.role" type="radio" id="DOCTOR" value="DOCTOR" />
                    <label for="DOCTOR">Secretary</label>
                    <input asp-for="Input.role" type="radio" id="Secretary" value="Secretary" />
                    <label for="PATIENT">PATIENT</label>
                    <input asp-for="Input.role" type="radio" id="PATIENT" value="PATIENT" />
                </div>
            }

            <div class="form-group">
                <label for="Male">Male</label>
                <input asp-for="Input.Gender" type="radio" id="Male" value="Male" />
                <label for="Female">Female</label>
                <input asp-for="Input.Gender" type="radio" id="Female" value="Female" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Imagefile"></label>
                <input asp-for="Input.Imagefile" class="form-control" />
                <span asp-validation-for="Input.Imagefile" class="text-danger"></span>
            </div>
			<div class="text-right">
			<a class="forgot-link" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account?</a>
			</div>
            <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Register</button>
        </form>
										<!-- /Register Form -->
										
									</div>
								</div>
							</div>
                            </div>

							<!-- /Register Content -->
								
						<!-- /Page Content -->
                        <br>
                        <br>
</body>



@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
            </div>
        
            @if (!signInManager.IsSignedIn(User))
            {
                <div hidden="" class="form-group">
                 <label asp-for="Input.role"></label>
                 <input value="PATIENT" asp-for="Input.role" class="form-control"/>
             </div>
            }
            
            @if (signInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
            {
                <div class="form-group">
                    <label for="PATIENT">PATIENT</label>
                    <input asp-for="Input.role" type="radio" id="PATIENT" value="PATIENT" />
                    <label for="DOCTOR">DOCTOR</label>
                    <input asp-for="Input.role" type="radio" id="DOCTOR" value="DOCTOR" />
                </div>
            }

            <div class="form-group">
                <label for="Male">Male</label>
                <input asp-for="Input.Gender" type="radio" id="Male" value="Male" />
                <label for="Female">Female</label>
                <input asp-for="Input.Gender" type="radio" id="Female" value="Female" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Imagefile"></label>
                <input asp-for="Input.Imagefile" class="form-control" />
                <span asp-validation-for="Input.Imagefile" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
