@using Microsoft.AspNetCore.Identity
@model IEnumerable<MindClinic.Models.Appointment>
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "getslots";
}

<html>
<br>
<div class="container ">

    <div class="row">
        <div class="col-12">

            <!-- Schedule Widget -->

            <div class="card booking-schedule schedule-widget">

                <!-- Schedule Header -->
                <div class="schedule-header">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Day Slot -->
                            <div class="day-slot">
                                <ul>
                                    <li class="left-arrow">
                                        <a href="#">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    @foreach (var item in Model)
                                    {

                                    }
                                    <li>
                                        <span>Mon</span>

                                    </li>
                                    <li>
                                        <span>Tue</span>
                                    </li>
                                    <li>
                                        <span>Wed</span>
                                    </li>
                                    <li>
                                        <span>Thu</span>
                                    </li>
                                    <li>
                                        <span>Fri</span>
                                    </li>
                                    <li>
                                        <span>Sat</span>
                                    </li>
                                    <li>
                                        <span>Sun</span>
                                    </li>

                                    <li class="right-arrow">
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Day Slot -->

                        </div>
                    </div>
                </div>
                <!-- /Schedule Header -->
                <!-- Schedule Content -->
                <div class="schedule-cont">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Time Slot -->
                            <div class="time-slot">
                                <ul class="clearfix">
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Monday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Tuesday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Wednesday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Thursday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Friday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Saturday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date:</strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <a class="timing">
                                            <span><strong>Available sessions:</strong></span>
                                        </a>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Time.DayOfWeek.ToString().Equals("Sunday"))
                                            {
                                                <a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time" asp-controller="Payment" asp-action="Index">
                                                    <span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
                                                </a>
                                            }
                                        }
                                    </li>
                                </ul>
                            </div>
                            <!-- /Time Slot -->

                        </div>
                    </div>
                </div>
                <!-- /Schedule Content -->

            </div>


        </div>
    </div>
</div>
</html>



