@using Microsoft.AspNetCore.Identity
@model IEnumerable<MindClinic.Models.Appointment>
@inject SignInManager<User> signInManager;

@{
	ViewData["Title"] = "getslots";

	//var start = (DateTime)ViewBag.Time;

	//DateTime str = start;

	//DateTime[] Week={start, start.AddDays(1), start.AddDays(2), start.AddDays(3), start.AddDays(4), start.AddDays(5), start.AddDays(6)};

}

<html>
	<br>

@*
<div  id='test2'><h1>@ViewBag.Time.Date</h1> </div>
<div  id='test'><h1>@str</h1> </div>

<button onclick="test()">backwards</button>

<button onclick="test()">forward</button>


		<div class="container">
					<div class="row">
						<div class="col-12">
							
							<!-- Schedule Widget -->

								<div class="card booking-schedule schedule-widget" id='this'>
							
								<!-- Schedule Header -->
								<div class="schedule-header">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Day Slot -->
											<div class="day-slot" id='days'>
												<ul>
													<li class="left-arrow">
														<a href="#">
															<i class="fa fa-chevron-left"></i>
														</a>
													</li>
													        @foreach (var item in Model){
															
															} 
													<li>
														<span>@Week[0].DayOfWeek</span> <span>@Week[0].Date</span>

													</li>
													<li>
														<span>@Week[1].DayOfWeek</span> <span>@Week[1].Date</span>
													</li>
													<li>
														<span>@Week[2].DayOfWeek</span> <span>@Week[2].Date</span>
													</li>
													<li>
														<span>@Week[3].DayOfWeek</span> <span>@Week[3].Date</span>
													</li>
													<li>
														<span>@Week[4].DayOfWeek</span> <span>@Week[4].Date</span>
													</li>
													<li>
														<span>@Week[5].DayOfWeek</span> <span>@Week[5].Date</span>
													</li>
													<li>
														<span>@Week[6].DayOfWeek</span> <span>@Week[6].Date</span>
													</li>

													<li class="right-arrow">
														<a href="#" onclick="nextWeek()">
															<i class="fa fa-chevron-right"></i>
														</a>
													</li>
												</ul>
											</div>
											<!-- /Day Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Header -->
								
								<!-- Schedule Content -->
								<div class="schedule-cont">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Time Slot -->
											<div class="time-slot">
												<ul class="clearfix">
													<li>
															<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[0].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[1].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[2].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[3].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[4].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[5].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date:</strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfYear==Week[6].DayOfYear){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
												</ul>
											</div>
											<!-- /Time Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Content -->
								
							</div>
							<!-- /Schedule Widget -->
							
							<!-- Submit Section -->
							<!-- /Submit Section -->
							
						</div>
					</div>
				</div>
*@






<div class="container ">
				
					<div class="row">
						<div class="col-12">
												
							<!-- Schedule Widget -->

						<div class="card booking-schedule schedule-widget">
							
								<!-- Schedule Header -->
								<div class="schedule-header">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Day Slot -->
											<div class="day-slot">
												<ul>
													<li class="left-arrow">
														<a href="#">
															<i class="fa fa-chevron-left"></i>
														</a>
													</li>
													        @foreach (var item in Model){
															
															} 
													<li>
														<span>Mon</span>

													</li>
													<li>
														<span>Tue</span>
													</li>
													<li>
														<span>Wed</span>
													</li>
													<li>
														<span>Thu</span>
													</li>
													<li>
														<span>Fri</span>
													</li>
													<li>
														<span>Sat</span>
													</li>
													<li>
														<span>Sun</span>
													</li>

													<li class="right-arrow">
														<a href="#">
															<i class="fa fa-chevron-right"></i>
														</a>
													</li>
												</ul>
											</div>
											<!-- /Day Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Header -->
								
								<!-- Schedule Content -->
								<div class="schedule-cont">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Time Slot -->
											<div class="time-slot">
												<ul class="clearfix">
													<li>
															<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Monday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Tuesday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Wednesday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Thursday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Friday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Saturday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date:</strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
													<li>
														<a class="timing">
															<span><strong>Available sessions:</strong></span>
														</a>
														@foreach(var item in Model){
															if(item.Time.DayOfWeek.ToString().Equals("Sunday")){
															<a class="timing" asp-route-id="@Context.Request.RouteValues["id"]" asp-route-time="@item.Time"  asp-controller="Payment" asp-action="Index">
															<span style="padding-left:3px;padding-right:3px;"><span> <strong>Date: </strong></span> <span>@Html.DisplayFor(modelItem => item.Time.Day)-@Html.DisplayFor(modelItem => item.Time.Month)-@Html.DisplayFor(modelItem => item.Time.Year) <br><span><strong> Time: </strong></span>@Html.DisplayFor(modelItem => item.Time.Hour):@Html.DisplayFor(modelItem => item.Time.Minute)</span></span>
														</a>
															}
														}
													</li>
												</ul>
											</div>
											<!-- /Time Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Content -->
								
							</div>
							<!-- /Schedule Widget -->
							
							<!-- Submit Section -->
@*							<div class="submit-section proceed-btn text-right">
								<a href="checkout.html" class="btn btn-primary submit-btn">Proceed to Pay</a>
							</div>*@
							<!-- /Submit Section -->
							
						</div>
					</div>
				</div>

</html>

@*<script>

	function test(){
	@{
		str = str.AddDays(7);
		ViewBag.Time = ViewBag.Time.AddDays(7);
		start = str.AddDays(7);
		Week[0] = start;
		Week[1] = start.AddDays(1);
		Week[2] = start.AddDays(2);
		Week[3] = start.AddDays(3);
		Week[4] = start.AddDays(4);
		Week[5] = start.AddDays(5);
		Week[6] = start.AddDays(6);

	}

	//$("#test").load(window.location.href + " #test" );
	
	$( "#test" ).load(window.location.href + " #test" );
	$( "#test2" ).load(window.location.href + " #test2" );
	$( "#this" ).load(window.location.href + " #this" );

	//location.reload();

	}
</script>*@